ConfirmacionDeSala (1).json
{
  "name": "ConfirmacionDeSala",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// ===================== NORMALIZAR + SANITIZAR DATOS =====================\n// Compatible con Webhook + HTML Alternativas + Merge directo\n// Formato: hora 24h, fecha DD/MM/YYYY\n\nconst TZ = 'America/Santiago';\nconst q = $json;\n\n// Detecta si vienen dentro de \"query\" (Webhook)\nconst src = q.query ? q.query : q;\n\n// ---------- Helpers ----------\n\n// Convierte cualquier valor a ISO (si puede)\nfunction toISO(val) {\n  if (!val) return '';\n  const d = new Date(val);\n  return isNaN(d) ? String(val) : d.toISOString();\n}\n\n// Convierte un datetime a partes locales (fecha y hora)\nfunction toLocalParts(dtStr) {\n  if (!dtStr) return { fecha: '', hora: '' };\n  const d = new Date(dtStr);\n  if (isNaN(d)) return { fecha: '', hora: '' };\n\n  // Fecha en formato DD/MM/YYYY\n  const dia  = String(d.getDate()).padStart(2, '0');\n  const mes  = String(d.getMonth() + 1).padStart(2, '0');\n  const anio = d.getFullYear();\n  const fecha = `${dia}/${mes}/${anio}`;\n\n  // Hora en formato 24h (HH:mm)\n  const hora = d.toLocaleTimeString('es-CL', {\n    timeZone: TZ,\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false,       // <- evita AM/PM\n  });\n\n  return { fecha, hora };\n}\n\n// Sanitizador básico de texto: elimina tags HTML y espacios raros\nfunction sanitizeText(value) {\n  if (value == null) return '';\n  let s = String(value);\n\n  // elimina cualquier etiqueta <...>\n  s = s.replace(/<[^>]*>/g, '');\n\n  // normaliza espacios\n  s = s.replace(/\\s+/g, ' ').trim();\n\n  return s;\n}\n\n// Sanitizador simple para email (solo trim, no tocamos @ ni dominio)\nfunction sanitizeEmail(value) {\n  if (!value) return '';\n  return String(value).trim();\n}\n\n// ---------- Calcular fechas legibles ----------\n\nconst startIso = toISO(src.start);\nconst endIso   = toISO(src.end);\n\nconst { fecha: fechaLarga, hora: inicioStr } = toLocalParts(startIso);\nconst { hora: finStr } = toLocalParts(endIso);\n\n// ---------- Normalizar + SANITIZAR campos del webhook ----------\n\n// Identificadores y correo\nconst reservaId = src.reservaId\n  || src.ReservID\n  || src.ReservaID\n  || src.reservationId\n  || 'SIN-ID';\n\nconst email = sanitizeEmail(\n  src.email\n  || src.correo\n  || src.to\n  || 'sin-correo@demo.local'\n);\n\n// Datos del solicitante\nconst nombre        = sanitizeText(src.nombre || src.solicitante || '');\nconst area          = sanitizeText(src.area || '');\nconst participantes = Number(src.participantes || 0);\nconst descripcion   = sanitizeText(src.descripcion || '');\n\n// Información del evento\nconst summary    = sanitizeText(src.summary || 'Reunión');\nconst calendarId = src.calendarId || '';\nconst roomName   = sanitizeText(src.room || '');\n\n// ---------- Resultado unificado ----------\n\nreturn [{\n  json: {\n    // --- Identificadores y correo ---\n    reservaId,\n    email,\n\n    // --- Datos del solicitante ---\n    nombre,\n    area,\n    participantes,\n    descripcion,\n\n    // --- Información de evento ---\n    summary,\n    calendarId,\n    roomName,\n\n    // --- Fechas ISO y texto ---\n    startIso,\n    endIso,\n    fechaLarga,  // DD/MM/YYYY\n    inicioStr,   // HH:mm\n    finStr       // HH:mm\n  }\n}];\n"
      },
      "id": "3451b991-1c64-4feb-ac2a-b49db3467dc1",
      "name": "Normalizar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1392,
        160
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{$json[\"calendarId\"]}}",
          "mode": "id"
        },
        "start": "={{$json[\"startIso\"]}}",
        "end": "={{$json[\"endIso\"]}}",
        "additionalFields": {
          "description": "=ID de la reserva: [{{ $json.reservaId }}]   Su sala fue confirmada exitosamente. ¿Cuando? {{ $json.fechaLarga }} de {{ $json.inicioStr }} a {{ $json.finStr }} ¿Donde? {{ $json.roomName }}  Capacidad total: {{ $json.participantes }}  ID de la reserva: [{{ $json.reservaId }}]",
          "summary": "={{ $json.summary }}: {{ $json.nombre }} || {{ $json.roomName }} || Reservada"
        }
      },
      "id": "f55da6d4-c4ad-4944-9c6c-fd0323d5000a",
      "name": "Crear Evento Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1040,
        -96
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ao8m93dzQTWq2Jd8",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw",
          "mode": "list",
          "cachedResultName": "Registro Solicitud",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1534669159,
          "mode": "list",
          "cachedResultName": "Registro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit#gid=1534669159"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sala asignada": "=Sala {{ $json[\"Sala asignada\"] }}",
            "Estado": "=Confirmada",
            "row_number": 0,
            "horaInicio": "={{ $json.horaInicio }}",
            "horaTermino": "={{ $json.horaTermino }}",
            "Fecha": "={{ $json.Fecha }}",
            "Correo": "={{ $json.Correo }}",
            "Nombre": "={{ $json.Nombre }}",
            "N° Participantes": "={{ $json[\"N° Participantes\"] }}",
            "ID_Reserva": "={{ $json.ID_Reserva }}",
            "ID_Sala": "={{ $json.ID_Sala }}",
            "Event_ID": "={{ $json.Event_ID }}",
            "Area": "={{ $json.Area }}"
          },
          "matchingColumns": [
            "ID_Reserva"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Area",
              "displayName": "Area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horaInicio",
              "displayName": "horaInicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horaTermino",
              "displayName": "horaTermino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "N° Participantes",
              "displayName": "N° Participantes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sala asignada",
              "displayName": "Sala asignada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID_Sala",
              "displayName": "ID_Sala",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Event_ID",
              "displayName": "Event_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID_Reserva",
              "displayName": "ID_Reserva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "347c5fb5-c8a7-4ede-8824-e8cb389f7dac",
      "name": "Actualizar Hoja Registro",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        -64
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YW4UkII7eEBygXxR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Correo }}",
        "subject": "=✅ Reserva Confirmada: {{ $json[\"Sala asignada\"] }}",
        "message": "==<!doctype html>\n<html lang=\"es\">\n<head>\n<meta charset=\"utf-8\">\n<title>Reserva Confirmada</title>\n\n<style>\n  body {\n    background-color: #F9F6EE;\n    font-family: 'Segoe UI', Roboto, Arial, sans-serif;\n    margin: 0;\n    padding: 60px 16px;\n    color: #111;\n  }\n  .card {\n    max-width: 600px;\n    margin: 0 auto;\n    background: #ffffff;\n    border-radius: 18px;\n    box-shadow: 0 4px 20px rgba(0,0,0,0.15);\n    overflow: hidden;\n  }\n  .header {\n    background: linear-gradient(90deg, #16a34a 0%, #22c55e 100%);\n    color: #ffffff;\n    padding: 24px;\n    text-align: center;\n  }\n  .header h2 {\n    margin: 0;\n    font-size: 22px;\n    font-weight: 700;\n  }\n  .header small {\n    display: block;\n    margin-top: 6px;\n    color: #e6ffe9;\n    font-size: 14px;\n    font-weight: 500;\n  }\n  .content {\n    padding: 30px;\n  }\n  .content p {\n    font-size: 16px;\n    color: #333;\n    text-align: center;\n    margin-bottom: 25px;\n  }\n  table {\n    width: 100%;\n    border-collapse: collapse;\n    margin-bottom: 25px;\n  }\n  td {\n    padding: 10px 0;\n    font-size: 15px;\n  }\n  td:first-child {\n    font-weight: bold;\n    color: #14532d;\n    width: 35%;\n  }\n  tr:nth-child(even) td {\n    background: #f3faf5;\n  }\n  .footer {\n    font-size: 13px;\n    color: #666;\n    text-align: center;\n    padding: 20px 30px 30px;\n    border-top: 1px solid #eee;\n    background: #fff;\n  }\n  .btn-cancel {\n    display: inline-block;\n    padding: 12px 20px;\n    background: #e53935;\n    color: #ffffff !important;\n    text-decoration: none;\n    border-radius: 6px;\n    font-weight: 700;\n    font-size: 14px;\n  }\n</style>\n\n</head>\n<body>\n  <div class=\"card\">\n    <div class=\"header\">\n      <h2>✅ Reserva Confirmada</h2>\n      <small>Tu solicitud fue procesada con éxito</small>\n    </div>\n\n    <div class=\"content\">\n      <p>\n        ¡Tu reserva ha sido <b>confirmada correctamente</b>!<br>\n        A continuación se muestran los detalles:\n      </p>\n\n      <table>\n        <tr>\n          <td>Sala:</td>\n          <td>{{ $json[\"Sala asignada\"] }}</td>\n        </tr>\n        <tr>\n          <td>Fecha:</td>\n          <td>{{ $json.Fecha }}</td>\n        </tr>\n        <tr>\n          <td>Horario:</td>\n          <td>{{ $json.horaInicio }} – {{ $json.horaTermino }}</td>\n        </tr>\n        <tr>\n          <td>Participantes:</td>\n          <td>{{ $json[\"N° Participantes\"] }}</td>\n        </tr>\n        <tr>\n          <td>Solicitante:</td>\n          <td>{{ $json.Nombre }} ({{ $json.Correo }})</td>\n        </tr>\n        <tr>\n          <td>ID Reserva:</td>\n          <td>{{ $json[\"ID_Reserva\"] }}</td>\n        </tr>\n      </table>\n\n      <!-- BOTÓN CANCELAR RESERVA -->\n      <p style=\"text-align:center; margin-bottom: 10px;\">\n        Si necesitas cancelar esta reserva, puedes hacerlo aquí:\n      </p>\n\n      <p style=\"text-align:center; margin-bottom: 20px;\">\n        <a class=\"btn-cancel\"\n   href=\"http://localhost:5678/webhook-test/cancelar-reserva?accion=cancelar&reservationId={{ $json['ID_Reserva'] }}&eventId={{ $json['Event_ID'] }}&calendarId={{ $json['ID_Sala'] }}&email={{ $json['Correo'] }}&room={{ $json['Sala asignada'] }}&fecha={{ $json.Fecha }}&inicio={{ $json.horaInicio }}&fin={{ $json.horaTermino }}\">\n    ❌ Cancelar reserva\n        </a>\n      </p>\n\n    </div>\n\n    <div class=\"footer\">\n      Gracias por utilizar el <b>sistema automatizado de reservas</b>.<br>\n      © {{ new Date().getFullYear() }} — Equipo de Gestión de Salas\n    </div>\n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "id": "c3c2fc3e-158f-43e2-8ca0-ecb7ad57227c",
      "name": "Enviar Correo Confirmación",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        -64
      ],
      "webhookId": "716eeaa9-19af-4576-b90e-a7fbdcd9c05e",
      "credentials": {
        "gmailOAuth2": {
          "id": "ggN6VexbBbATMvgY",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -592,
        48
      ],
      "id": "152b3181-5c0b-4801-b0be-39219786a4a9",
      "name": "Merge"
    },
    {
      "parameters": {
        "path": "confirmar-reserva",
        "options": {
          "responseData": {
            "values": [
              {
                "name": "status",
                "value": "ok"
              },
              {
                "name": "message",
                "value": "Reserva recibida correctamente"
              }
            ]
          }
        }
      },
      "id": "7f101005-e5f2-4cc1-9be5-4fbfb7b0d9e1",
      "name": "Webhook Confirmar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1616,
        160
      ],
      "webhookId": "278ac48d-a3f2-4b11-8e41-218aa0cc73d4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "={{ $json.email }}{{ $json.reservaId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        160
      ],
      "id": "a3bc4b01-7899-4432-ae99-c8d98e7f85ff",
      "name": "Datos Originales"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw",
          "mode": "list",
          "cachedResultName": "Registro Solicitud",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1534669159,
          "mode": "list",
          "cachedResultName": "Registro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit#gid=1534669159"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID_Reserva",
              "lookupValue": "={{ $json.reservaId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -992,
        416
      ],
      "id": "16320c58-231b-4341-a1b1-4317791c8f3d",
      "name": "Buscar Reserva",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YW4UkII7eEBygXxR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -576,
        320
      ],
      "id": "c6380d66-a30d-498b-9419-101a1f1c8321",
      "name": "Merge Datos + Reserva"
    },
    {
      "parameters": {
        "jsCode": "// ================== VALIDAR RESERVA USUARIO ==================\n// Input 0: viene del Merge / evento (si lo estás usando)\n// Input 1: viene del Merge Datos + Reserva (fila Registro + normalizado)\n\n// Items que llegan por cada entrada\nconst eventos   = $input.all(0);   // puede venir vacío y no pasa nada\nconst registros = $input.all(1);   // aquí viene la fila de la hoja\n\nconst evento   = eventos[0]?.json || {};\nconst registro = registros[0]?.json || {};\n\n// Traemos la sala limpia desde \"Normalizar Datos\"\nconst datosLink = $node[\"Normalizar Datos\"].json || {};\n\n// Y el id de evento desde \"Crear Evento Google Calendar\"\nconst datosEvento = $node[\"Crear Evento Google Calendar\"].json || {};\n\nconst errores = [];\nlet isValid = true;\n\n// --- Regla simple: si no hay ID_Reserva en la hoja, algo está mal ---\nif (!registro.ID_Reserva) {\n  isValid = false;\n  errores.push('RESERVA NO ENCONTRADA EN LA HOJA REGISTRO');\n}\n\n// (Opcional) Aquí podrías validar correo, estado, etc. si quieres.\n// Por ahora dejamos sólo que exista la reserva.\n\n// --- Sala asignada ---\n// Siempre preferimos la sala del link (Normalizar Datos)\n// y NO la de la hoja, que trae \"Sala \" en blanco.\nconst salaAsignada =\n  datosLink.roomName              // ej: \"Sala 101\"\n  || registro[\"Sala asignada\"]    // por si acaso\n  || evento.roomName\n  || '';\n\n// --- Event_ID ---\n// Guardamos el id del evento de Calendar si existe\nconst eventId = datosEvento.id || registro.Event_ID || '';\n\n// Devolvemos todo unificado\nreturn [\n  {\n    json: {\n      // Datos del link / normalizados\n      ...datosLink,\n      // Datos de la hoja\n      ...registro,\n      // Datos del evento (por si los quieres usar después)\n      ...evento,\n\n      // Campos corregidos\n      \"Sala asignada\": salaAsignada,\n      Event_ID: eventId,\n\n      // Resultado de validación\n      isValid,\n      errores,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        128
      ],
      "id": "7b44d821-0750-4aa1-8175-6bcf030da87c",
      "name": "ValidarReservaUsuario"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9020dd6f-e89f-466b-8cb8-696edf587e46",
              "leftValue": "={{ $json.isValid.toString() }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        64
      ],
      "id": "a412f3ea-971a-44d8-8589-89a0247497e6",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw",
          "mode": "list",
          "cachedResultName": "Registro Solicitud",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 319241814,
          "mode": "list",
          "cachedResultName": "Logs_Intentos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit#gid=319241814"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FechaHora": "={{ $json.fechaLarga }}",
            "Email": "={{ $json.email }}",
            "ID_Reserva": "={{ $json.reservaId }}",
            "Errores": "={{ Array.isArray($json.errores) ? $json.errores.join(' | ') : ($json.errores || '') }}\n",
            "Origen": "ConfirmacionDeSala"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FechaHora",
              "displayName": "FechaHora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Origen",
              "displayName": "Origen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID_Reserva",
              "displayName": "ID_Reserva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Errores",
              "displayName": "Errores",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payload",
              "displayName": "Payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        160
      ],
      "id": "740d24b1-fd30-46e9-a02d-b4a0c4a7f0d5",
      "name": "Log Confirmación Fallida",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YW4UkII7eEBygXxR",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Normalizar Datos": {
      "main": [
        [
          {
            "node": "Crear Evento Google Calendar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Datos Originales",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Evento Google Calendar": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Actualizar Hoja Registro": {
      "main": [
        [
          {
            "node": "Enviar Correo Confirmación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "ValidarReservaUsuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Confirmar": {
      "main": [
        [
          {
            "node": "Normalizar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos Originales": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Datos + Reserva",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Buscar Reserva": {
      "main": [
        [
          {
            "node": "Merge Datos + Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Datos + Reserva": {
      "main": [
        [
          {
            "node": "ValidarReservaUsuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ValidarReservaUsuario": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Actualizar Hoja Registro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Confirmación Fallida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "d19890f9-4a3a-444f-91c4-ef4cae3bcfa9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "605a3cd9f00bba5091dd8352caa8e8a6f52dbf714d692df2d04e4d5949acc445"
  },
  "id": "QkGRwRZzE1AcM5qY",
  "tags": []
}