FlujoConfirmacionEncargado.json
{
  "name": "FlujoConfirmacionEncargado",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw",
          "mode": "list",
          "cachedResultName": "Registro Solicitud",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1534669159,
          "mode": "list",
          "cachedResultName": "Registro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n66HEZRlQ2SeqWs0UVmgNoBYkN7gZvjlFvJYdpwwDlw/edit#gid=1534669159"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        96
      ],
      "id": "94323f46-0a20-4736-8f56-bbb6142f2a8c",
      "name": "Reserva Actualizada",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "MEBC5UJcLUjE2J8B",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener los datos del nodo anterior (el IF)\nconst item = $json; // Usamos $json para más seguridad\n// Generar el HTML\nconst htmlCorreo = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Confirmación de Reserva de Sala</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            background-color: #f4f4f4;\n            margin: 0;\n            padding: 0;\n        }\n        .container {\n            width: 100%;\n            max-width: 600px;\n            margin: 20px auto;\n            background: #ffffff;\n            border-radius: 8px;\n            overflow: hidden;\n            box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);\n        }\n        .header {\n            background-color: #007bff; /* Azul vibrante */\n            color: #ffffff;\n            padding: 25px 30px;\n            text-align: center;\n        }\n        .header img {\n            max-width: 80px;\n            margin-bottom: 10px;\n            border-radius: 5px;\n        }\n        .header h1 {\n            margin: 0;\n            font-size: 28px;\n            font-weight: 600;\n        }\n        .content {\n            padding: 30px;\n            color: #555;\n        }\n        .content h2 {\n            color: #007bff;\n            font-size: 22px;\n            margin-top: 0;\n            border-bottom: 2px solid #e9ecef;\n            padding-bottom: 10px;\n            margin-bottom: 20px;\n        }\n        .info-table {\n            width: 100%;\n            border-collapse: collapse;\n            margin-bottom: 25px;\n        }\n        .info-table th, .info-table td {\n            padding: 12px 15px;\n            text-align: left;\n            border-bottom: 1px solid #e9ecef;\n        }\n        .info-table th {\n            background-color: #f8f9fa;\n            width: 35%;\n            font-weight: 600;\n            color: #444;\n        }\n        .info-table td {\n            background-color: #ffffff;\n            width: 65%;\n        }\n        .footer {\n            background-color: #e9ecef;\n            color: #999; /* Color de texto más suave */\n            text-align: center;\n            padding: 20px 30px;\n            font-size: 13px; /* Texto más pequeño */\n            border-top: 1px solid #dee2e6;\n        }\n        .footer p {\n            margin: 0;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>Reserva de Sala Confirmada</h1>\n        </div>\n        <div class=\"content\">\n            <p>Estimado Encargado,</p>\n            <p>Se ha confirmado una nueva reserva para una de nuestras salas. Por favor, asegúrese de que todo esté preparado según los detalles a continuación:</p>\n            \n            <h2>Detalles de la Reserva</h2>\n            <table class=\"info-table\">\n                <tr>\n                    <th>ID de Reserva:</th>\n                    <td><strong>${item.ID_Reserva || 'N/A'}</strong></td>\n                </tr>\n                <tr>\n                    <th>Sala Asignada:</th>\n                    <td><strong>${item[\"Sala asignada\"] || 'N/A'}</strong></td>\n                </tr>\n                <tr>\n                    <th>Fecha:</th>\n                    <td>${item.Fecha || 'N/A'}</td>\n                </tr>\n                <tr>\n                    <th>Horario:</th>\n                    <td>${item.horaInicio || 'N/A'} - ${item.horaTermino || 'N/A'}</td>\n                </tr>\n                <tr>\n                    <th>N° Participantes:</th>\n                    <td>${item[\"N° Participantes\"] || 'N/A'}</td>\n                </tr>\n            </table>\n\n            <h2>Información del Solicitante</h2>\n            <table class=\"info-table\">\n                <tr>\n                    <th>Nombre:</th>\n                    <td>${item.Nombre || 'N/A'}</td>\n                </tr>\n                <tr>\n                    <th>Correo:</th>\n                    <td>${item.Correo || 'N/A'}</td>\n                </tr>\n                <tr>\n                    <th>Área/Departamento:</th>\n                    <td>${item[\"Area/Departamento\"] || 'N/A'}</td>\n                </tr>\n            </table>\n            <p>Agradecemos su gestión para garantizar un excelente servicio.</p>\n        </div>\n        <div class=\"footer\">\n            <p>© ${new Date().getFullYear()} - Gestión Interna de Salas</p>\n        </div>\n    </div>\n</body>\n</html>\n`;\n\n// Devolver el HTML generado en una nueva propiedad llamada \"htmlCorreo\"\n// También mantenemos todos los datos originales\nreturn {\n  json: {\n    ...item,\n    htmlCorreo: htmlCorreo\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "fe73123f-40e3-4562-a64a-e0cd7b39a7d8",
      "name": "Generar Correo"
    },
    {
      "parameters": {
        "sendTo": "encargadosalas131@gmail.com",
        "subject": "=Confirmacion de reserva ✅ :  {{ $json[\"Sala asignada\"] }}  -  {{ $json.Fecha }}",
        "message": "={{ $json.htmlCorreo }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        176,
        0
      ],
      "id": "038ee445-85ec-4f7a-9cf0-42027907307f",
      "name": "Correo Encargado",
      "webhookId": "eb343202-17bd-484d-8059-8729b82b5ac1",
      "credentials": {
        "gmailOAuth2": {
          "id": "tGyxDFEo816ovnCS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "23f0345e-82e7-4a70-9e28-d341aeb5b323",
              "leftValue": "={{ $json.Estado }}",
              "rightValue": "Asignada",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "00582db2-23fb-4fae-b593-92898a6f9286",
              "leftValue": "={{ $json.Estado }}",
              "rightValue": "No asignadas",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        96
      ],
      "id": "55c23a45-861a-4bf1-ba1a-51ad765bb4af",
      "name": "Filtrar Reservas Confirmadas"
    }
  ],
  "pinData": {},
  "connections": {
    "Reserva Actualizada": {
      "main": [
        [
          {
            "node": "Filtrar Reservas Confirmadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Correo": {
      "main": [
        [
          {
            "node": "Correo Encargado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Reservas Confirmadas": {
      "main": [
        [
          {
            "node": "Generar Correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fa342a9d-dc76-45f0-8d71-aa224a0ea780",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e798c98ecedb200bada866d1bcb13660adf10acc86d74c0825677c85e0fb973"
  },
  "id": "RakMf3IUk4YNmoU2",
  "tags": []
}